﻿@model MVC.RH.Models.Atividade.EditAtividade

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditAtividade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_atividade" class="control-label"></label>
                <input asp-for="Id_atividade" class="form-control" />
                <span asp-validation-for="Id_atividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_timeSheet" class="control-label"></label>
                <input asp-for="Id_timeSheet" class="form-control" />
                <span asp-validation-for="Id_timeSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_tarefa" class="control-label"></label>
                <input asp-for="Id_tarefa" class="form-control" />
                <span asp-validation-for="Id_tarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_esforco" class="control-label"></label>
                <input asp-for="Id_esforco" class="form-control" />
                <span asp-validation-for="Id_esforco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_inicio" class="control-label"></label>
                <input asp-for="Data_inicio" class="form-control" />
                <span asp-validation-for="Data_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_fim" class="control-label"></label>
                <input asp-for="Data_fim" class="form-control" />
                <span asp-validation-for="Data_fim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_classificacao" class="control-label"></label>
                <input asp-for="Tipo_classificacao" class="form-control" />
                <span asp-validation-for="Tipo_classificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

