﻿
@model IEnumerable<MVC.RH.Models.Atividade.ListAtividade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Lista de Atividades</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_atividade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_timeSheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_tarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_esforco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_classificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_atividade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_timeSheet)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Id_tarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_esforco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_classificacao)
            </td>
            <td>
                @Html.ActionLink("Create", "Create", new { id = item.Id_atividade }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_atividade }) |
                @*//  @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_atividade })
            </td>
        </tr>
        }
    </tbody>
</table>
