﻿@model MVC.RH.Models.Projeto.DetailsProjetos
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_projeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_projeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_projeto }) |
    <a asp-action="Index">Back to List</a>
</div>