﻿@model MVC.RH.Models.Projeto.EditProjeto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditProjeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_projeto" class="control-label"></label>
                <input asp-for="Id_projeto" class="form-control" />
                <span asp-validation-for="Id_projeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome_projeto" class="control-label"></label>
                <input asp-for="Nome_projeto" class="form-control" />
                <span asp-validation-for="Nome_projeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horas" class="control-label"></label>
                <input asp-for="Horas" class="form-control" />
                <span asp-validation-for="Horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_atividade" class="control-label"></label>
                <input asp-for="Id_atividade" class="form-control" />
                <span asp-validation-for="Id_atividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

