﻿
@model IEnumerable<MVC.RH.Models.Projeto.ListProjetos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Lista de Projetos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_projeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_projeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_projeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_projeto)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                @Html.ActionLink("Create", "Create", new { id = item.Id_projeto }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_projeto }) |
                @*//  @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_projeto })
            </td>
        </tr>
        }
    </tbody>
</table>
