﻿
@model IEnumerable<MVC.Financial.Models.Despesa.ListDespesa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Lista de Despesas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_despesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pedido_despesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_despesa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pedido_despesa)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_despesa }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_despesa }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_despesa })
                    </td>
                </tr>
            }
        }
        else
        {
            <h4>sem dados</h4>

        }

    </tbody>
</table>
